<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">登入系統和資料庫處理</h1>
        <p class="col-md-8 fs-4">
          練習使用express.js、EJS、MongoDB、Passport.js、Authentication、OAuth(Google
          Login Setup) 創建網頁，並透過render部署網路服務。
        </p>
        <%if(!user){%>
        <a class="btn btn-primary btn-lg" href="/auth/login">
          登入立即體驗！
        </a>
        <%}%> <%if(user){%>
        <a class="btn btn-primary btn-lg" href="/profile"> 進入我的個人檔案 </a>
        <%}%>
      </div>
    </div>
  </body>
</html>
